/* Error: The target selector was not found.
 * Use "@extend %overlay !optional" to avoid this error.
 *     ,
 * 111 |   @extend %overlay
 *     |   ^^^^^^^^^^^^^^^^
 *     '
 *   core\style\scss\bulma\sass\layout\hero.sass 111:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %overlay !optional" to avoid this error.\a     \2577 \a 111 \2502    @extend %overlay\a     \2502    ^^^^^^^^^^^^^^^^\a     \2575 \a   core\\style\\scss\\bulma\\sass\\layout\\hero.sass 111:3  root stylesheet';
}
