/* Error: Undefined variable.
 *   ,
 * 9 |     color: $input-hover-color
 *   |            ^^^^^^^^^^^^^^^^^^
 *   '
 *   core\style\scss\bulma\sass\form\checkbox-radio.sass 9:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502      color: $input-hover-color\a   \2502             ^^^^^^^^^^^^^^^^^^\a   \2575 \a   core\\style\\scss\\bulma\\sass\\form\\checkbox-radio.sass 9:12  root stylesheet";
}
