/* Error: The target selector was not found.
 * Use "@extend %control !optional" to avoid this error.
 *    ,
 * 61 |   @extend %control
 *    |   ^^^^^^^^^^^^^^^^
 *    '
 *   core\style\scss\bulma\sass\elements\button.sass 61:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %control !optional" to avoid this error.\a    \2577 \a 61 \2502    @extend %control\a    \2502    ^^^^^^^^^^^^^^^^\a    \2575 \a   core\\style\\scss\\bulma\\sass\\elements\\button.sass 61:3  root stylesheet';
}
